## Introducción a la estadística

# Ejercicios
- Ejercicio1. Introducción a la estadística
- Ejercicio2. Introducción Estadística Descriptiva


### Estadística
Es una rama de las matemáticas que nos permite enteder a los datos, sus características 
- Organización
- Visualización / Presentación
- Interpretación
- Análisis

## Descriptiva
Descripción y visualización de la información.
- Resumen de datos originados a partir de un tema de estudio.
- Organizar y describir las características del conjunto de datos.
- Para interpretarlo a futuro.
- Nos ayudan a identificar patrones.
- Visualización de como se comportan los datos.
- Nos permite organizar los datos.

## Inferencial
Se dedica a la generación de modelos y predicciones asociados a ciertos fenómenos.
- Nos ayudan a generar nueva información a tráves de predicciones.
- Interpretación de los datos / modelado de los datos.


## Análisis exploratorio de datos
Se basa en la Estadística Descriptiva - > Análisis Descriptivo 
Extraer sus características principales.

# Tipos de Datos
- Cualitativos. Se describen por características generales. Categóricos
- Cuantitativos. Represeta algo que se puede contar, una cantidad.

# Tipos de Variables

- Nominales: Los valores que permiten clasificar a una población en categorías excluyentes.
- Ordinales: Valores que pueden ser odenados.
- Discretos: Número finito de valores.
- Continuos: Número infinito de valores en un intervalo.

# Organización y presentación de datos
Tablas: SQL, NOSQL, Excel, CSV, API, JSON

# Librerías
## Pandas:
- Manejo de datos.
- Ofrece manejar los datos a través de estructuras.
- Manejo de matrices.
- Formato.
- Transformación de los datos que se leen
- Leer archivos

## Matplotlib
- Gráficar
- Diagramas

## Sklearn 
- Es una biblioteca de aprendizaje automático gratuita
- También cuenta con algunas bases de datos

In [1]:
import pandas as pd
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'year': [2012, 2012, 2013, 2014, 2014],
        'reports': [4, 24, 31, 2, 3]}
print(data)

df = pd.DataFrame(data)
print(df)

from sklearn.datasets import fetch_openml
titanic = fetch_openml('titanic', version=1, as_frame=True)
titanic_frame = pd.DataFrame(titanic.data)
titanic_frame

{'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 'year': [2012, 2012, 2013, 2014, 2014], 'reports': [4, 24, 31, 2, 3]}
    name  year  reports
0  Jason  2012        4
1  Molly  2012       24
2   Tina  2013       31
3   Jake  2014        2
4    Amy  2014        3

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN